body {
    background-color: black;
   /*background: url("https://thumbs2.imgbox.com/86/ea/ohW8MGoj_t.png");
   background-repeat:repeat-x*/
   background: url(https://thumbs2.imgbox.com/86/ea/ohW8MGoj_t.png) no-repeat center top fixed;

   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
header {
    font-size: 30pt;
    text-align: center;
    background: fixed rgba(13, 253, 5, 0.397);
    border-radius: 10px;
    color: greenyellow;
    width: 290px;
    margin: auto;
    font-style: Arial;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.301);


}

div#img_1 {
    margin: center;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.301);
    text-align: center;
    }

/*div#bolinha{
    width: 500; 
    height: 500px; 
    border: solid; 
    border-color: greenyellow; 
    background-color: id="img_1";

}

section {

} */
footer {
    background: fixed rgba(13, 253, 5, 0.397);
    border-radius: 10px;
    color: greenyellow;
    width: 115px;
    margin: auto;
    font-style: italic;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.301);
}